<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

<div class="container p-5 rounded shadow" style="width: 70%">

    <div class="row mt-2">
        <div class="col">
            {% if msg != null %}
                <div class="alert alert-success" role="alert">
                    {{ msg }}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-6 text-center">
            <img class="img-fluid" src="/static/{{ user.user_icon }}" style="max-width: 200px">
        </div>

        <div class="col-6">
            <h2> Welcome, {{user.username}} </h2>
            <h5> Token : {{ user.user_token }}</h5>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col text-center">
            <a href="/logout" class="btn btn-danger"> Logout </a>
        </div>
    </div>


</div>


<style>
    body {
        background-color: #ebebeb;
    }
    .container {
        margin-top: 150px;
        background-color: white;
    }
</style>

</body>
</html>