<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="container p-5 rounded shadow" style="width: 50%">


    <h3 class="mb-5 text-center">Login</h3>

    {% if msg != null %}
        <div class="alert alert-danger" role="alert">
            {{ msg }}
        </div>
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label>Username</label>
            <input class="form-control" type="text" name="username" required>
        </div>

        <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="password" name="password" required>

        </div>
        Dont have account? <a href="/register">  Register here </a>
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary align-right">Login</button>
        </div>




    </form>

</div>

</body>

<style>
    body {
        background-color: #ebebeb;
    }
    .container {
        margin-top: 150px;
        background-color: white;
    }
</style>
</html>