<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


</head>
<body>

<div class="container p-5 rounded shadow" style="width: 50%">

    <h3 class="mb-5 text-center">Register</h3>

    {% if msg != null %}
        <div class="alert alert-danger" role="alert">
            {{ msg }}
        </div>
    {% endif %}

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label>Username</label>
            <input class="form-control" type="text" name="username">
        </div>

        <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="password" name="password">

        </div>

        <div class="form-group">
            <label>File</label>
            <input class="form-control-file" type="file" name="icon" required>
        </div>



        <div class="mt-4 form-group">
            <img src="/getCode" id="demo">

            <button type="button" class="ml-2 btn btn-dark" onclick="loadDoc()" > <i class=" fa fa-refresh" aria-hidden="true"></i>
            </button>
            <input class="form-control mt-2" type="text" name="code" placeholder="Verify code">


        </div>
        <div class="text-center">
            <button type="submit" class=" btn btn-primary align-right">Register</button>
        </div>

    </form>



</div>


<script>
    function loadDoc() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                d = new Date();
                img = document.getElementById("demo")
                img.src="/getCode?"+d.getTime();
            }
        };
        xhttp.open("GET", "/getCode", true);
        xhttp.send();
    }
</script>



</body>


<style>
    body {
        background-color: #ebebeb;
    }
    .container {
        margin-top: 150px;
        background-color: white;
    }
</style>
</html>